.alert{
    padding: 15px;
    background-color: rgb(205, 220, 181);
    color: green;
}
.contents{
    width: 800px;
    margin: 50px auto 0;
}
.form{
    display: flex;
    justify-content: space-between;
}
.form input{
    width: 70%;
    padding: 10px;
}
.form button{
    width: 20%;
    padding: 10px;
    background-color: black;
    color: white;
}
.todos{
    margin-top: 50px;
}
.todos_title{
    padding: 15px;
    font-size: 20px;
}
.todos_lists{
    border-top: 1px solid gray;
}
.todos_list{
    padding: 15px;
    border-bottom: 1px solid gray;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.todos_btns{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
.todos_btn{
    padding: 5px 15px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.todos_btn:not(:first-child){
    margin-left: 10px;
}
.todos_btn.--delete{
    background-color: red;
}
